.DS_Store
*.so
*.a
*.dylib
*.jnilib
*.dll
*.exe
*.o
*.obj
*.class
*_m.cc
*_m.h
*.tab.hh
*.tab.cc
*.bak
*~
*.orig
*.pdb
*.idb
*.ilk
*.manifest
*.vci
*.pyc
*.out
*.aux
.ccls-cache
.clangd
.vscode

zadanie_1
wizards
wiredphy
tutorial
tictoc
sockets
routing
resultfiles
queuenet
queueinglib
queueinglibext
petrinets
osg-satellites
osg-intro
osg-indoor
osg-earth
openstreetmap
neddemo
lab_1
lab_1.0
lab_2
lab_2.0
inet4.5
hypercube
histograms
folder_for_zip
fifo
embedding
embedding2
dyna
cqn
canvas
aloha
.metadata
.settings
out/

*/results.*/
*/results/

/.project
/.cproject

.qtenvrc
*/Makefile

*.zip